.login,
.register{
    padding: 32px 0;
    margin: 0 auto;
    width: 300px;
}

.login .form-group,
.register .form-group {
    margin: 16px auto;
    display: grid;
    gap: 8px;
}

.login .form-group > input ,
.register .form-group > input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #f2f2f2;
}

.msg {
    text-align: center;
}

.form-btn {
    letter-spacing: 1px;
    padding: 16px 0;
    margin: 16px auto;
    width: 100%;
}