.add-group-form {
    width: 95%;
    margin: 8px auto;
}

.add-group-form .form-group {
    margin: 8px 0;
    padding: 16px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 18px;
}

.add-group-form .info {
    color: #a3a3a3;
}


.add-account-form {
    margin: 0 auto;
}

.add-account-form .form-group {
    width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

